{
  "arrowParens": "always",
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "endOfLine": "auto",    
  "useTabs": false,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "requirePragma": true  // ← Chỉ format file có comment /** @format */
}
 