/* You can add global styles to this file, and also import other style files */
@layer utilities {
  .border-border {
    border-color: hsl(var(--border));
  }

  .outline-ring\/50 {
    outline-color: hsl(var(--ring) / 0.5);
  }

  .bg-background {
    background-color: hsl(var(--background));
  }

  .text-foreground {
    color: hsl(var(--foreground));
  }
}
